<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/js/create_post.js"></script>
    <link rel="stylesheet" href="/static/css/make_post.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    {% csrf_token %}
    {% block content %}
    {% endblock %}
    <dialog id="window_post" class="create_post">
        <h1>Create Post</h1>

        <div class="input-box">
          {% csrf_token %}
          {{form}}

        </div>

        <button id="submit" data-url="{% url 'index' %}" class="btn">Create post</button>

    </dialog>
    <button id="create_post">Create Post</button>
</body>
</html>