{% extends 'base.html' %}

{% block js %}
<script src="/static/js/like_home.js"></script>
{% endblock %}

{% block content %}
<div id="posts_list">
    {% for post in posts %}
        <h1>Post {{ post.id }}</h1>
        <a href="{% url 'post_detail' post.id %}">Детальнее</a>
        <button class="like_button" data-url="{% url 'like_home' post.id %}" data-post-id="{{ post.id }}">
            Like (<span class="like_button" id="like_count_{{ post.id }}">{{ post.likes_count }}</span>)
        </button>
    {% endfor %}
</div>
{% endblock %}
