{% extends 'base.html' %}

{% block js %}
<script src="/static/js/create_comment.js"></script>
<script src="/static/js/like.js"></script>
{% endblock %}

{% block content %}
  <h1>{{ post_detail.title }}</h1>
  <p>{{ post_detail.text }}</p>

  <button id="like_button" data-url="{% url 'like_post' post_detail.pk %}">
    Like (<span id="like_count">{{ post_detail.likes_count }}</span>)
  </button>

  <h2>Comments</h2>
  <div id="comment_info">
    <ul>
    {% for comment in comments %}
      <li>
        <p>{{ comment.user.username }}: {{ comment.text }} <button hx-get="{% url 'delete_comment' comment.id %}" hx-target="comment_info">Delete</button></p>
      </li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %}
  </ul>
  </div>


  <h3>Add a Comment</h3>
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" data-url="{% url 'add_comment' post_detail.pk %}" id="submit_comment">Submit</button>
{% endblock %}
