* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/static/images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-013.jpg") no-repeat;
  background-size: cover;
}

.create_post {
  width: 600px;
  height: 400px;
  background: rgb(173, 27, 202);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create_post h1 {
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.create_post .input-box {
  width: 100%;
  margin: 30px 0;
}

.create_post .input-box .text {
  width: 350px;

  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: vertical; /* Allows vertical resizing */
  font-size: 16px;
  overflow-y: auto; /* Ensures a scrollbar appears when needed */
}

.create_post .btn {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: white;
  color: purple;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.7s;
}

.create_post .btn:hover {
  background-color: rgb(222, 157, 228);
}
